.programs {
  &__title {
    margin-bottom: rem(50);
    text-align: center;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &__blocks {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    cursor: pointer;
    row-gap: rem(30);

    @include tablet {
      grid-template: auto / repeat(2, 1fr);
      row-gap: rem(30);
    }

    @include mobile {
      grid-template: auto / 1fr;
      row-gap: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    padding: rem(30);
    text-align: center;
    transition: $trans-hover;

    &:hover {
      box-shadow: 0 60px 80px -14px rgba(130, 130, 130, 0.1);
      opacity: 0.8;
    }

    @include mobile {
      padding: rem(24) 0;
    }
  }

  &__name {
    margin: rem(24) 0 rem(12);

    @include mobile {
      margin: rem(12) 0 rem(4);
    }
  }

  &__text {
    max-width: rem(325);

    @include mobile {
      font-size: rem(14);
    }
  }

  &__more {
    font-weight: 500;
    color: $accent300;
  }

  &__btn {
    margin-top: rem(60);
    text-align: center;

    @include mobile {
      margin-top: rem(20);
    }
  }
}
