<section id="about" class="section about">
  <div class="about__container container">
    <div class="about__wrapper about__wrapper--img">
      <div class="about__img">
        <img src="img/about.png" alt="О центре CPLive">
      </div>
      <div class="about__btn">
        <button class="btn btn--accent btn-reset btn-promo">Записаться на занятие</button>
      </div>
    </div>
    <div class="about__wrapper">
      <div class="about__content">
        <h2 class="h2 about__title">О центре CPLive</h2>
        <div class="about__text">
          <p><b>Мы на 100% уверены в том, что каждый человек может сделать свой мир процветающим и счастливым, оставаясь
            собой! И мы в этом поможем!</b></p>
          <p>Мы на 100% уверены в том, что каждый человек может сделать свой мир процветающим и счастливым, оставаясь
            собой! И мы в этом поможем!</p>
        </div>
      </div>
      <div data-url="T2j5kimGdCI" class="about__video play-video">
        <button class="btn btn-reset btn--video btn--sm btn--accent">
          <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.5 8.36602C12.1667 7.98112 12.1667 7.01888 11.5 6.63398L1.75 1.00481C1.08333 0.619909 0.25 1.10104 0.25 1.87084V13.1292C0.25 13.899 1.08333 14.3801 1.75 13.9952L11.5 8.36602Z" fill="white"/>
          </svg>
        </button>
        <p>Посмотрите 2х минутное видео о центре</p>
      </div>
    </div>
  </div>
</section>
