<section id="contacts" class="section contact">
  <div class="contact__container container">
    <div class="contact__map">
      <script type="text/javascript" charset="utf-8" async
              src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6bf0fc4f6fb2166cdb5fa437220b648c3235e9738677cd7375c7660fdca0c0a3&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
    </div>
    <div class="contact__content">
      <h2 class="h2 contact__title">Контакты</h2>
      <div class="contact__wrapper">
        <div class="contact__item">
          <img src="img/pin.svg" alt="">
          <p>г. Москва, Дмитровское шоссе 71Б, Бизнес центр “7one”</p>
        </div>
        <div class="contact__item">
          <img src="img/envelope.svg" alt="">
          <a href="mailto:cplife@mail.ru">cplife@mail.ru</a>
        </div>
        <div class="contact__item">
          <img src="img/phone.svg" alt="">
          <a href="tel:+79112858049">+7 911 285 80 49</a>
        </div>
      </div>
      <div class="contact__wrapper">
        <p>ИНН 440128953109</p>
        <p>ОГРН 321440000019691</p>
        <p> р/с 40802810800002555730</p>
      </div>
      <div class="contact__wrapper contact__wrapper--socials">
        <a href="https://www.youtube.com/channel/UCI8UQuWGebWfz64apYjeMgg">
          <img src="img/youtube.png" alt="Youtube CPLive">
        </a>
        <a href="https://t.me/cplmoscow">
          <img src="img/tg.png" alt="Telegram CPLive">
        </a>
        <a href="https://instagram.com/ruslan_myshev?utm_medium=copy_link">
          <img src="img/inst.png" alt="Instagram CPLive">
        </a>
      </div>
    </div>
  </div>
</section>
