<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo logo">
      <img src="img/logo.png" alt="Логотип CPLive" />
    </a>
    <div class="header__right">
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li><a href="#programs">Программы</a></li>
          <li><a href="#about">О центре</a></li>
          <li><a href="#reviews">Отзывы</a></li>
          <li><a href="#promo">Записаться</a></li>
          <li><a href="#contacts">Контакты</a></li>
          <li class="nav--border">
            <a href="tel:+79112858049">+7 911 285 80 49</a>
          </li>
        </ul>
      </nav>
      <button class="btn-reset burger" aria-label="Открыть меню сайта">
        <span class="burger__line"></span> <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
