<section class="section hero">
  <div class="hero__container container">
    <div class="hero__content">
      <p class="hero__subtitle">Центр духовных практик CPL приветствует вас!</p>
      <h1 class="h1 hero__title">Приведи друга и&nbsp;получи занятие в&nbsp;подарок!</h1>
      <div class="hero__btn">
        <button class="btn btn--accent btn-reset btn-promo">Записаться на&nbsp;занятие</button>
      </div>
    </div>
    <div class="hero__img">
      <img src="img/hero.png" alt="Центр духовных практик CPL">
    </div>
  </div>
</section>
