<div class="popup popup--programs" data-modal>
  <div class="popup__content popup__content--programs">
    <button class="popup__close btn-reset">
      <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.35355" y1="0.646447" x2="25.3536" y2="24.6464" stroke="#202020"/>
        <line y1="-0.5" x2="33.9411" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 25 1)" stroke="#202020"/>
      </svg>
    </button>
    <div class="popup__body">

      <div class="popup__block popup__block--text">
        <h2>Цигун</h2>
        <p>Цигун или "Китайска йога" была создана на основе ряда даосских систем в 70-е годы прошлого века и сумела
          быстро завоевать популярность и обзавестись множеством последователей.</p>
        <p>Цигун включает в себя практику китайских боевых искусств, медитативную практику и гимнастические упражнения,
          направленные на освобождение от телесных зажимов и энергетических блоков с помощью успокоения сознания, тела и
          эмоций. Тайцзи цигун является универсальным и позволяет прогрессировать в любом направлении.</p>
        <p>Этот вид цигуна относится к внутреннему (мягкому) стилю и характеризуется медленными, плавными движениями,
          похожими на танец. Положительный оздоравливающий, психологический эффект от занятий наступает очень быстро:
          очищается и оздоравливается система каналов и меридианов, регулируется равновесие между дыханием и кровью.
          Это отличное средство для естественного оживления и оздоровления организма, подъема духовной активности.</p>
      </div>

      <div class="popup__block popup__block--price">
        <h3 class="h3">Стоимость занятий</h3>
        <div class="popup__wrapper">
          <div class="box">
            <p class="title">700 рублей</p>
            <p class="descr">1 занятие</p>
          </div>
          <div class="box">
            <p class="title">600 рублей</p>
            <p class="descr">от 4-х занятий</p>
          </div>
          <button class="btn btn-reset btn-promo btn--accent">Записаться на занятие</button>
        </div>
      </div>

      <div class="popup__block popup__block--masters masters">
        <h3 class="h3">Мастера направления</h3>
        <div class="master">
          <div class="master__avatar">
            <div class="master__pic">
              <img src="img/master-placeholder.png" alt="">
            </div>
            <div class="master__btn">
              <button data-url="#" class="btn btn-reset btn--video btn--sm btn--accent play-video">
                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.5 8.36602C12.1667 7.98112 12.1667 7.01888 11.5 6.63398L1.75 1.00481C1.08333 0.619909 0.25 1.10104 0.25 1.87084V13.1292C0.25 13.899 1.08333 14.3801 1.75 13.9952L11.5 8.36602Z" fill="#fff"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="master__descr">
            <div class="title">Ольга Нагорнева</div>
            <div class="subtitle">Сертифицированный преподаватель хатха-йоги (RYT 200)</div>
            <div class="text">
              <p>Для меня йога — это не про «быстрее, выше, сильнее», она про гармонию между телом, дыханием и умом. Моя
                задача: помочь ученику стать и наблюдателем, и объектом наблюдения с помощью волшебного синтеза йоги.
                Почему йога? Она не ограничивается физическими формами, она помогает найти ответ на важный вопрос «Кто
                я?», делает ум гибче, осознаннее.</p>
              <p> Это многогранный процесс, который лишь начинается с асан на коврике и
                продолжается в каждом аспекте жизни.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
