<section id="programs" class="section programs">
  <div class="programs__container container">
    <h2 class="h2 programs__title">Программы духовных практик</h2>
    <div class="programs__blocks">
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/1.png" alt="Кундалини">
        </div>
        <h3 class="h3 programs__name">Кундалини</h3>
        <p class="programs__text">Кундалини йога направлена на развитие индивидуальных способностей человека</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/2.png" alt="Гвозди">
        </div>
        <h3 class="h3 programs__name">Гвозди</h3>
        <p class="programs__text"> С помощью гвоздей человек испытывает полезный для здоровья стресс эустрессом</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/3.png" alt="">
        </div>
        <h3 class="h3 programs__name">Цигун</h3>
        <p class="programs__text">Практика китайских боевых искусств, медитативная практика и гимнастические упражнения</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/4.png" alt="">
        </div>
        <h3 class="h3 programs__name">Хатха</h3>
        <p class="programs__text">Хатха – это объединение ментальных сил и жизненной энергии</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/5.png" alt="">
        </div>
        <h3 class="h3 programs__name">Чайная церемония</h3>
        <p class="programs__text">Чайная церемония - возможность получить и вкусовое, и эстетическое наслаждение</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/6.png" alt="">
        </div>
        <h3 class="h3 programs__name">Телесная терапия</h3>
        <p class="programs__text">Проработаем эмоциональные перегрузки и мышечное напряжение</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/7.png" alt="">
        </div>
        <h3 class="h3 programs__name">Йога критического выравнивания</h3>
        <p class="programs__text">Метод, позволяющий работать с позвоночником, делать его гибким, стабильным и здоровым</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/8.png" alt="">
        </div>
        <h3 class="h3 programs__name">Составление утренней медитации</h3>
        <p class="programs__text">Утренняя медитация - действенный инструмент для достижения духовного совершенства</p>
        <p class="programs__more">Подробнее</p>
      </div>
      <div class="programs__block">
        <div class="programs__img">
          <img src="img/programs/9.png" alt="">
        </div>
        <h3 class="h3 programs__name">Составление матрицы судьбы</h3>
        <p class="programs__text">Матрица судьбы - это уникальный метод саморазвития и самопознания</p>
        <p class="programs__more">Подробнее</p>
      </div>
    </div>
    <div class="programs__btn">
      <button class="btn btn--accent btn-reset btn-promo">Записаться на занятие</button>
    </div>
  </div>
</section>
