<section id="promo" class="section promo">
  <div class="promo__container container">
    <div class="promo__text">
      <h2 class="h2 promo__title">Не знаете с чего начать?</h2>
      <p class="promo__subtitle">Оставьте заявку и мы с удовольствием проконсультируем Вас по любым вопросам в ближайшее
        время</p>
    </div>
    <form class="promo__form form">
      <div class="form__groups">
        <div class="form__group">
          <label for="name">Ваше имя</label>
          <input
            id="name"
            type="text"
            name="name"
            placeholder="Ваше имя"
            data-validate-field="name"
          />
        </div>
        <div class="form__group">
          <label for="tel">Телефон</label>
          <input
            id="tel"
            type="tel"
            name="tel"
            placeholder="Ваш телефон"
            data-validate-field="tel"
          />
        </div>
        <div class="form__group">
          <button class="btn-reset btn btn--white">Получить консультацию</button>
        </div>
      </div>
      <p class="form__acceptance form__acceptance--center">
        Нажимая на кнопку, Вы соглашаетесь с обработкой персональных данных
      </p>
      <p class="form__success">Сообщение успешно отправлено!</p>
    </form>
  </div>
</section>
