<section id="reviews" class="section reviews">
  <div class="container reviews__container">

    <div class="reviews__title">
      <img src="img/quotes.png">
      <h2 class="h2">Отзывы <br>клиентов</h2>
    </div>

    <div class="swiper">

      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="review">
            <div class="review__video">
              <button data-url="megcHR8WuFs" class="btn btn-reset btn--video btn--md btn--white play-video">
                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.5 8.36602C12.1667 7.98112 12.1667 7.01888 11.5 6.63398L1.75 1.00481C1.08333 0.619909 0.25 1.10104 0.25 1.87084V13.1292C0.25 13.899 1.08333 14.3801 1.75 13.9952L11.5 8.36602Z" fill="#00BFC4"/>
                </svg>
              </button>

              <div class="review__frame">
                <img src="img/video-placeholder.png">
              </div>
            </div>
            <div class="review__user">
              <div class="name">Сергей Нафталажи</div>
              <div class="job">Блогер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__video">
              <button data-url="megcHR8WuFs" class="btn btn-reset btn--video btn--md btn--white play-video">
                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.5 8.36602C12.1667 7.98112 12.1667 7.01888 11.5 6.63398L1.75 1.00481C1.08333 0.619909 0.25 1.10104 0.25 1.87084V13.1292C0.25 13.899 1.08333 14.3801 1.75 13.9952L11.5 8.36602Z" fill="#00BFC4"/>
                </svg>
              </button>

              <div class="review__frame">
                <img src="img/video-placeholder.png">
              </div>
            </div>
            <div class="review__user">
              <div class="name">Сергей Нафталажи</div>
              <div class="job">Блогер</div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="review">
            <div class="review__video">
              <button data-url="megcHR8WuFs" class="btn btn-reset btn--video btn--md btn--white play-video">
                <svg width="12" height="15" viewBox="0 0 12 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M11.5 8.36602C12.1667 7.98112 12.1667 7.01888 11.5 6.63398L1.75 1.00481C1.08333 0.619909 0.25 1.10104 0.25 1.87084V13.1292C0.25 13.899 1.08333 14.3801 1.75 13.9952L11.5 8.36602Z" fill="#00BFC4"/>
                </svg>
              </button>

              <div class="review__frame">
                <img src="img/video-placeholder.png">
              </div>
            </div>
            <div class="review__user">
              <div class="name">Сергей Нафталажи</div>
              <div class="job">Блогер</div>
            </div>
          </div>
        </div>
        <!-- // Slides -->
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

    </div>

  </div>
</section>
