// colors
$accent100: #00bfc4;
$accent200: #15a087;
$accent300: #00788a;
$white: #fff;
$black: #202020;
$grey100: #ebebeb;
$grey200: #868686;
$green: #59bd7e;
$yellow: #e6f46b;
$accent-grad: linear-gradient(268.31deg, #00c2c7 0%, #0095ab 100%);

// fonts
$browser-context: 16;
$font-family: "Montserrat Alternates", sans-serif;

// burger
$burger-width: 30px;
$burger-height: 24px;
$burger-line-height: 2px;

// Common
$trans-hover: 0.2s ease-in-out;
$box-shadow: 0 26px 30px -16px rgba($accent100, 0.51);
$border-radius: 6px;
$border-radius-12: 12px;
